In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

Agenda
1.  Preparation
2.  EDA
3.  Modeling

# 1. Prepartion

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/train_logs.csv')
test = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/test_logs.csv')
train_score = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/train_scores.csv')

# 2. EDA

## 2-1. common part

In [4]:
print(f"train:{train.shape}")
print(f"test:{test.shape}")
print(f"train_score:{train_score.shape}")

train:(8405898, 11)
test:(6, 11)
train_score:(2471, 2)

In [5]:
print(f"===============train==========")
print(train.info())
print(f"===============test==========")
print(test.info())
print(f"===============train_score==========")
print(train_score.info())

===============train==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405898 entries, 0 to 8405897
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id               object
 1   event_id         int64
 2   down_time        int64
 3   up_time          int64
 4   action_time      int64
 5   activity         object
 6   down_event       object
 7   up_event         object
 8   text_change      object
 9   cursor_position  int64
 10  word_count       int64
dtypes: int64(6), object(5)
memory usage: 705.5+ MB
None
===============test==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6 non-null      object
 1   event_id         6 non-null      int64
 2   down_time        6 non-null      int64
 3   up_time          6 non-null      int64
 4   action_time      6 non-null      int64
 5   activity         6 non-null      object
 6   down_event       6 non-null      object
 7   up_event         6 non-null      object
 8   text_change      6 non-null      object
 9   cursor_position  6 non-null      int64
 10  word_count       6 non-null      int64
dtypes: int64(6), object(5)
memory usage: 656.0+ bytes
None
===============train_score==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2471 entries, 0 to 2470
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2471 non-null   object
 1   score   2471 non-null   float64
dtypes: float64(1), object(1)
memory usage: 38.7+ KB
None

In [6]:
print(f"===============train==========")
display(train.describe())
print(f"===============test==========")
display(test.describe())
print(f"===============train_score==========")
display(train_score.describe())

===============train==========

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06
mean,2.067649e+03,7.935603e+05,7.936584e+05,9.808498e+01,1.222964e+03,2.314687e+02
std,1.588284e+03,5.149451e+05,5.149428e+05,2.533985e+02,9.485242e+02,1.759088e+02
min,1.000000e+00,1.060000e+02,2.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.520000e+02,3.731842e+05,3.732820e+05,6.600000e+01,4.990000e+02,9.600000e+01
50%,1.726000e+03,7.208860e+05,7.209800e+05,9.300000e+01,1.043000e+03,2.000000e+02
75%,2.926000e+03,1.163042e+06,1.163141e+06,1.220000e+02,1.706000e+03,3.270000e+02
max,1.287600e+04,8.313630e+06,8.313707e+06,4.474700e+05,7.802000e+03,1.326000e+03

===============test==========

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,1.500000,486917.833333,486990.333333,72.500000,0.500000,0.500000
std,0.547723,244593.650561,244605.302388,19.149413,0.547723,0.547723
min,1.000000,184996.000000,185052.000000,46.000000,0.000000,0.000000
25%,1.000000,302484.750000,302540.500000,58.750000,0.000000,0.000000
50%,1.500000,486990.000000,487079.500000,76.000000,0.500000,0.500000
75%,2.000000,692853.750000,692927.500000,86.500000,1.000000,1.000000
max,2.000000,760073.000000,760160.000000,94.000000,1.000000,1.000000

===============train_score==========

             score
count  2471.000000
mean      3.711251
std       1.024937
min       0.500000
25%       3.000000
50%       4.000000
75%       4.500000
max       6.000000

In [7]:
print(f"===============train==========")
for col in train.columns:
    print(train[col].value_counts())
print(f"===============test==========")
for col in test.columns:
    print(test[col].value_counts())
print(f"===============train_score==========")
for col in train_score.columns:
    print(train_score[col].value_counts())

===============train==========
id
d3fef198    12876
1b2f3b8b    11211
b1789fc6    11119
2d8a6af2    10591
08f461ac    10370
            ...
3a266257      734
8ee8c46c      672
08e3c7ae      507
95acfe17      427
5a3f0d07      262
Name: count, Length: 2471, dtype: int64
event_id
1        2471
166      2471
168      2471
169      2471
170      2471
         ...
11763       1
11762       1
11761       1
11760       1
12876       1
Name: count, Length: 12876, dtype: int64
down_time
358593     21
516231     20
586506     20
127010     20
152251     19
           ..
3687660     1
3688669     1
3688793     1
3688903     1
2070065     1
Name: count, Length: 1836078, dtype: int64
up_time
324045     22
367667     20
375014     20
667124     20
166707     19
           ..
3693033     1
3693075     1
3693215     1
3693353     1
2070133     1
Name: count, Length: 1835993, dtype: int64
action_time
0       346631
79       97576
78       95295
95       94188
87       93312
         ...
2648         1
1882         1
7608         1
1971         1
3323         1
Name: count, Length: 3509, dtype: int64
activity
Input                                     6726796
Remove/Cut                                 970158
Nonproduction                              703851
Replace                                      4448
Paste                                         599
Move From [1306, 1371] To [1061, 1126]          2
Move From [13, 65] To [9, 61]                   1
Move From [274, 314] To [299, 339]              1
Move From [624, 625] To [845, 846]              1
Move From [1861, 2063] To [1766, 1968]          1
Move From [1766, 1968] To [1861, 2063]          1
Move From [2091, 2179] To [252, 340]            1
Move From [923, 1077] To [340, 494]             1
Move From [0, 1] To [590, 591]                  1
Move From [999, 1000] To [1000, 1001]           1
Move From [0, 75] To [1, 76]                    1
Move From [1651, 1769] To [1565, 1683]          1
Move From [61, 136] To [0, 75]                  1
Move From [623, 632] To [624, 633]              1
Move From [75, 134] To [304, 363]               1
Move From [289, 355] To [562, 628]              1
Move From [944, 1102] To [1050, 1208]           1
Move From [1061, 1126] To [1306, 1371]          1
Move From [1361, 1362] To [1358, 1359]          1
Move From [51, 86] To [109, 144]                1
Move From [134, 169] To [122, 157]              1
Move From [747, 960] To [1041, 1254]            1
Move From [218, 220] To [206, 208]              1
Move From [164, 165] To [153, 154]              1
Move From [1144, 1147] To [1142, 1145]          1
Move From [284, 292] To [282, 290]              1
Move From [287, 289] To [285, 287]              1
Move From [460, 461] To [465, 466]              1
Move From [905, 1314] To [907, 1316]            1
Move From [565, 743] To [669, 847]              1
Move From [669, 847] To [565, 743]              1
Move From [1041, 1121] To [1496, 1576]          1
Move From [1455, 1557] To [1323, 1425]          1
Move From [2268, 2275] To [2247, 2254]          1
Move From [213, 302] To [902, 991]              1
Move From [0, 158] To [234, 392]                1
Move From [460, 465] To [925, 930]              1
Move From [810, 906] To [816, 912]              1
Move From [186, 187] To [184, 185]              1
Move From [140, 272] To [299, 431]              1
Move From [114, 140] To [272, 298]              1
Move From [1386, 1450] To [1445, 1509]          1
Move From [442, 524] To [296, 378]              1
Move From [408, 414] To [390, 396]              1
Move From [382, 437] To [458, 513]              1
Name: count, dtype: int64
down_event
q             5365319
Space         1207128
Backspace      964089
Shift          334227
ArrowRight     121338
               ...
F10                 1
Cancel              1
S                   1
T                   1
F6                  1
Name: count, Length: 131, dtype: int64
up_event
q             5364789
Space         1207128
Backspace      964089
Shift          334227
ArrowRight     121338
               ...
Cancel              1
T                   1
S                   1
M                   1
F6                  1
Name: count, Length: 130, dtype: int64
text_change
q                                                                                                                                                               6128208
                                                                                                                                                                1376829
NoChange                                                                                                                                                         703851
.                                                                                                                                                                 67797
,                                                                                                                                                                 54797
                                                                                                                                                                 ...
qqq qqqqq qqqqqqqqqq qqqqqqq qq qqqqq qqqqqqqq                                                                                                                        1
qqqqqqqqq qq qqq qqqqqqqqq qq qqqq qq qqq qqqqqqqq  => q                                                                                                              1
qq qqq qqqqqqqq qqq qqq qqqqq qqqq, => q                                                                                                                              1
?                                                                                                                                                                     1
\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq           1
Name: count, Length: 4111, dtype: int64
cursor_position
0       38765
1        6714
2        5722
5        5521
3        5505
        ...
7769        1
7768        1
7767        1
7766        1
7460        1
Name: count, Length: 7803, dtype: int64
word_count
1       33041
0       31425
207     28543
201     24961
206     24798
        ...
1324        3
1297        3
1302        3
1310        3
1317        2
Name: count, Length: 1327, dtype: int64
===============test==========
id
0000aaaa    2
2222bbbb    2
4444cccc    2
Name: count, dtype: int64
event_id
1    3
2    3
Name: count, dtype: int64
down_time
338433    1
760073    1
711956    1
290502    1
635547    1
184996    1
Name: count, dtype: int64
up_time
338518    1
760160    1
712023    1
290548    1
635641    1
185052    1
Name: count, dtype: int64
action_time
85    1
87    1
67    1
46    1
94    1
56    1
Name: count, dtype: int64
activity
Input    6
Name: count, dtype: int64
down_event
Space    3
q        3
Name: count, dtype: int64
up_event
Space    3
q        3
Name: count, dtype: int64
text_change
     3
q    3
Name: count, dtype: int64
cursor_position
0    3
1    3
Name: count, dtype: int64
word_count
0    3
1    3
Name: count, dtype: int64
===============train_score==========
id
001519c8    1
ae424507    1
ad929a5c    1
adb9eb41    1
adc30d84    1
           ..
56464b89    1
56586ecf    1
568ceeb6    1
569d8062    1
fff05981    1
Name: count, Length: 2471, dtype: int64
score
4.0    501
3.5    486
4.5    402
3.0    336
2.5    201
5.0    179
5.5    128
2.0     92
1.5     69
6.0     37
1.0     35
0.5      5
Name: count, dtype: int64

In [8]:
print(f"===============train==========")
print(train.isnull().sum())
print(f"===============test==========")
print(test.isnull().sum())
print(f"===============train_score==========")
print(train_score.isnull().sum())

===============train==========
id                 0
event_id           0
down_time          0
up_time            0
action_time        0
activity           0
down_event         0
up_event           0
text_change        0
cursor_position    0
word_count         0
dtype: int64
===============test==========
id                 0
event_id           0
down_time          0
up_time            0
action_time        0
activity           0
down_event         0
up_event           0
text_change        0
cursor_position    0
word_count         0
dtype: int64
===============train_score==========
id       0
score    0
dtype: int64

In [9]:
print(f"===============train==========")
display(train.head(5))
print("-------------")
display(train.tail(5))

print(f"===============test==========")
display(test.head(5))
print("-------------")
display(test.tail(5))

print(f"===============train_score==========")
display(train_score.head(5))
print("-------------")
display(train_score.tail(5))

===============train==========

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

-------------

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240

===============test==========

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,0000aaaa,1,338433,338518,85,Input,Space,Space,,0,0
1,0000aaaa,2,760073,760160,87,Input,Space,Space,,1,0
2,2222bbbb,1,711956,712023,67,Input,q,q,q,0,1
3,2222bbbb,2,290502,290548,46,Input,q,q,q,1,1
4,4444cccc,1,635547,635641,94,Input,Space,Space,,0,0

-------------

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
1,0000aaaa,2,760073,760160,87,Input,Space,Space,,1,0
2,2222bbbb,1,711956,712023,67,Input,q,q,q,0,1
3,2222bbbb,2,290502,290548,46,Input,q,q,q,1,1
4,4444cccc,1,635547,635641,94,Input,Space,Space,,0,0
5,4444cccc,2,184996,185052,56,Input,q,q,q,1,1

===============train_score==========

         id  score
0  001519c8    3.5
1  0022f953    3.5
2  0042269b    6.0
3  0059420b    2.0
4  0075873a    4.0

-------------

            id  score
2466  ffb8c745    3.5
2467  ffbef7e5    4.0
2468  ffccd6fd    1.5
2469  ffec5b38    5.0
2470  fff05981    4.0

## 2-2. Each

### 2-2-1. train

In [10]:
print(train["id"].unique())

['001519c8' '0022f953' '0042269b' ... 'ffccd6fd' 'ffec5b38' 'fff05981']

In [11]:
print(train["text_change"].unique())

['NoChange' 'q' ' ' ... 'qq qqq qqqq qqqqq' 'qq qqqqq qqqq qq qqqqq '
 '\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq ']

In [12]:
print(train["activity"].unique())

['Nonproduction' 'Input' 'Remove/Cut' 'Replace'
 'Move From [284, 292] To [282, 290]' 'Move From [287, 289] To [285, 287]'
 'Move From [460, 461] To [465, 466]' 'Paste'
 'Move From [905, 1314] To [907, 1316]'
 'Move From [565, 743] To [669, 847]' 'Move From [669, 847] To [565, 743]'
 'Move From [1041, 1121] To [1496, 1576]'
 'Move From [1455, 1557] To [1323, 1425]'
 'Move From [2268, 2275] To [2247, 2254]'
 'Move From [213, 302] To [902, 991]' 'Move From [0, 158] To [234, 392]'
 'Move From [460, 465] To [925, 930]' 'Move From [810, 906] To [816, 912]'
 'Move From [186, 187] To [184, 185]' 'Move From [140, 272] To [299, 431]'
 'Move From [114, 140] To [272, 298]'
 'Move From [1386, 1450] To [1445, 1509]'
 'Move From [442, 524] To [296, 378]' 'Move From [408, 414] To [390, 396]'
 'Move From [1144, 1147] To [1142, 1145]'
 'Move From [218, 220] To [206, 208]' 'Move From [164, 165] To [153, 154]'
 'Move From [623, 632] To [624, 633]'
 'Move From [747, 960] To [1041, 1254]'
 'Move From [274, 314] To [299, 339]' 'Move From [624, 625] To [845, 846]'
 'Move From [1861, 2063] To [1766, 1968]'
 'Move From [1766, 1968] To [1861, 2063]'
 'Move From [2091, 2179] To [252, 340]'
 'Move From [923, 1077] To [340, 494]' 'Move From [0, 1] To [590, 591]'
 'Move From [999, 1000] To [1000, 1001]' 'Move From [13, 65] To [9, 61]'
 'Move From [1651, 1769] To [1565, 1683]' 'Move From [61, 136] To [0, 75]'
 'Move From [0, 75] To [1, 76]' 'Move From [75, 134] To [304, 363]'
 'Move From [289, 355] To [562, 628]'
 'Move From [944, 1102] To [1050, 1208]'
 'Move From [1306, 1371] To [1061, 1126]'
 'Move From [1061, 1126] To [1306, 1371]'
 'Move From [1361, 1362] To [1358, 1359]'
 'Move From [51, 86] To [109, 144]' 'Move From [134, 169] To [122, 157]'
 'Move From [382, 437] To [458, 513]']

In [13]:
train[train["id"] == "0022f953"]

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
2557,0022f953,1,30623,30853,230,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2558,0022f953,2,32549,32549,0,Nonproduction,Shift,Shift,NoChange,0,0
2559,0022f953,3,32706,32842,136,Input,q,q,q,1,1
2560,0022f953,4,32826,32946,120,Input,q,q,q,2,1
2561,0022f953,5,32922,33050,128,Input,q,q,q,3,1
...,...,...,...,...,...,...,...,...,...,...,...
5006,0022f953,2450,1673714,1673745,31,Nonproduction,ArrowRight,ArrowRight,NoChange,1386,320
5007,0022f953,2451,1673745,1673780,35,Nonproduction,ArrowRight,ArrowRight,NoChange,1387,320
5008,0022f953,2452,1673780,1673782,2,Nonproduction,ArrowRight,ArrowRight,NoChange,1388,320
5009,0022f953,2453,1788315,1788393,78,Nonproduction,ArrowDown,ArrowDown,NoChange,1432,320
5010,0022f953,2454,1788842,1788969,127,Nonproduction,ArrowDown,ArrowDown,NoChange,1519,320

In [14]:
train[(train["id"] == "0022f953") & (train["activity"] == "Input")] .sort_values(by = "event_id")

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
2559,0022f953,3,32706,32842,136,Input,q,q,q,1,1
2560,0022f953,4,32826,32946,120,Input,q,q,q,2,1
2561,0022f953,5,32922,33050,128,Input,q,q,q,3,1
2562,0022f953,6,33010,33130,120,Input,q,q,q,4,1
2563,0022f953,7,33106,33330,224,Input,Space,Space,,5,1
...,...,...,...,...,...,...,...,...,...,...,...
4911,0022f953,2355,1611338,1611521,183,Input,q,q,q,1475,322
4912,0022f953,2356,1611495,1611560,65,Input,q,q,q,1476,322
4913,0022f953,2357,1611647,1611737,90,Input,q,q,q,1477,322
4914,0022f953,2358,1611879,1612064,185,Input,q,q,q,1478,322
4915,0022f953,2359,1611959,1612149,190,Input,Space,Space,,1479,323

### 2-2-2. merge

In [15]:
tmp = pd.merge(train,train_score,how = "left", on ="id")
tmp.head(5)
tmp.to_csv("merged_train.csv")